<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <div id="header">
            <h1 class="title">Cours Vue.js</h1>
        </div>
        <div class="product-card">
            <div id="image">
                <img v-bind:src="image" alt="Image">
            </div>

            <div id="product">
                <h1 class="product-name">{{product}}</h1>
                <p class="product-description">{{description}}</p>
                <p v-if="inStock">In stock</p>
                <p v-else>Out of stock</p>

                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{variant.variantColor}}</p>
                </div>

                <div>
                    <select name="size" id="sizes">
                        <option v-for="size in sizes" v-bind:value="size">{{size}}</option>
                    </select>
                </div>
                
                <a v-bind:href="link" class="link-to-buy">Clique pour aller sur google</a>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>